<div class="second_section">
  <div class="row">
    <div class="ten columns main_card">
      <h2>Edit <%= resource_name.to_s.humanize %></h2>
      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field"><%= f.email_field :email %> email</div><br>

        <div><%= f.password_field :password, :autocomplete => "off" %> password <i>(leave blank if you don't want to change it)</i></div><br>
        <div><%= f.password_field :password_confirmation %> password confirmation</div><br>
        <div><%= f.password_field :current_password %> (we need your current password to confirm your changes)</i><br /></div>

        <div><%= f.submit "Update" %></div>
      <% end %>
      <hr>
      <h3>Cancel my account <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p></h3><br>

      
      <%= link_to "<---Back", :back %>
    </div>
  </div>
</div>