<h1>Browse all players and filter below!</h1>
<body class="background-layout-index">
  <div class="row">
  
    <% @listings.each do |listing| %>
      
      <div class="tile_all four columns">
        <%= listing.player.position %>
        <%= link_to "#{listing.name} ", listing_path(listing) %><br>
        <%= listing.bio %><br>
        <%= youtube_thumb_embed(listing.film).html_safe %>
        San Juan Soccer Club  2013<br>
        <hr>
        <div class="entry_icons">
            <%= link_to image_tag("in.png"), listing_path(listing)  %> <%= link_to "View Details", listing_path(listing) %> | <%= image_tag("add.png", :class => "add_hover") %> Favorite player? 
        </div>
      </div>
    <% end %>
  </div>
</div>
