<h1>Listing listings</h1>

<table>
  <tr>
    <th>Bio</th>
    <th>Name</th>
    <th>Position</th>
    <th>Film</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @listings.each do |listing| %>
  <tr>
    <td><%= listing.bio %></td>
    <td><%= link_to "#{listing.name}", listing_path(listing) %></td>
    <td><%= listing.position %></td>
    <td><%= listing.film %></td>
    <td><%= listing.player_id %></td>
  </tr>
<% end %>
</table>

<br />


