<% @listings.each do |listing| %>
<div class="row row_listings">
  <div class="three columns actual_listings">
    <%= listing.position %><br><br><br>
    <%= youtube_thumb_embed(listing.game_film).html_safe %><br>
    <%= listing.club %><br>
    <%= link_to 'Show', listing %>
    <%= link_to 'Edit', edit_listing_path(listing) %>
    <%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
  <% end %>
</div>  




<%= link_to 'New Listing', new_listing_path %>
