<p id="notice"><%= notice %></p>

<p>
  <b>Bio:</b>
  <%= @listing.bio %>
</p>

<p>
  <b>Name:</b>
  <%= @listing.name %>
</p>

<p>
  <b>Position:</b>
  <%= @listing.position %>
</p>

<p>
  <b>Film:</b>
  <%= @listing.film %>
</p>

<p>
  <b>Player:</b>
  <%= @listing.player_id %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
