
<span style="color: white;">Forward - Class of 2016 - SJFC Rangers - Stevie Anders </span>

<div class="row">
  <div class="twelve columns">
    <h3>Class of 2018 - Outside Mid - SJFC Rangers, CA - Stevie Anders</h3>
    <span style='margin-top:-30px;'><h4><%= image_tag 'star-med.png'%> Add to Favorites</h4></span><hr>
    <h3>Latest Match film</h3>
    <span style="opacity: 0.6;"><%= image_tag 'one-final.png'%></span>
    <span class="play_button"><%= image_tag 'play-big.png'%></span>
  </div>  
</div>
<div class="row">
  <div class="five columns">
    <h3>Upcoming Schedule</h3>
    <%= image_tag 'schedule.png'%>
  </div>
  <div class="seven columns">
      <ul class="two_up tiles">
        
        <li><h5>5/15/13 - League </h5><span style="opacity: 0.6;"><%= image_tag 'thumb-one.jpg'%></span><span class="play_small"><%= image_tag 'play-med.png'%></span></li>
        
        <li><h5>State Cup - 1st Rd</h5><span style="opacity: 0.6;"><%= image_tag 'thumb-two.jpg'%></span><span class="play_small"><%= image_tag 'play-med.png'%></span></li>
        
        <li><h5>5/12/13 - Scrimmage</h5><span style="opacity: 0.6;"><%= image_tag 'thumb-three.jpg'%></span><span class="play_small"><%= image_tag 'play-med.png'%></span></li>
        
        <li><h5>Surf Cup - Game 2</h5><span style="opacity: 0.6;"><%= image_tag 'thumb-four.jpg'%></span><span class="play_small"><%= image_tag 'play-med.png'%></span></li>
      </ul>
  </div>
</div>

