<nav id="navbar-main-nav" class="navbar">
  <div class="row">
    <h1 class="four columns">
      <a href="/">
        <h4 class="product_name pull left">Breakaway.io</h4>
      </a>
    </h1>
    <nav class="push_five three columns pull_right mailer_blog">
      <ul class="main-nav pull right">
        <li><%= link_to "Blog", blog_path %></li>
        <li><a href="mailto:support@54footy.com">Contact</a></li>
      </ul>
    </nav>
  </div>
</nav>
<!-- End Header and Nav -->
<div class="stuff">
  <div class="row" style="text-align:center;">
    <p><span class="marketing_header">Spending too much time trying to make parents happy instead of developing quality soccer players?</span></p><br>
    <div class="five columns signup_presenter">
      <h4>Online Player Profiles College Coaches Will Actually Look At.</h4>
      <h5>Give your entire team an even better chance of being discovered by top college coaches before your next tournament.</h5>
      <div style="margin-top:8px;">
        <a href="#first_title" class="info metro btn">Learn More</a>
        <a href="#invitation_title" class="success metro btn">Request an invite</a>
      </div>
    </div>
    <div class="five columns push_one">
      <%= image_tag "electronic-final.png "%>
    </div>
  </div>
</div>  
</div>
<div class="second_section">
  <div class="row">
    <div class="twelve columns" style="margin-top:15px;background-color:white;border-radius:4px;padding:50px;">
      <h2 id="first_title">
       <strong>Your Old Friend: Development vs Winning. </strong>
      </h2><br>
      <p>
        Ahhhh, your eternal achilles heel. Wouldn’t it be great if the performance of your job as a coach was more judged on your ability to improve team and individual skills and not just on how many tallies are in the Win column?
      </p>
      <p>
        <strong>This won’t ever be the case.</strong> The first two questions anyone ever asks after a game are, “Did you guys win?” and “What was the score?”
      </p>
      <p>
        But that never tells the entire story. This problem is amplified by the fact that the beauty of soccer can’t be quantified into everyday statistics as most sports can. A soccer match is 22 players authoring a new novel and no two stories are ever the same. 
      </p>
      <br>
      <hr>
      <br>
      <h2>
        <strong>No matter how much parent's soccer education improves, they'll never be completely satisfied.</strong>  
      </h2><br>
      <p>
        You are in a wildly unique position as an American Youth Soccer Coach. You’re a champion of the world’s most popular sport in a country that barely flinches when they see a 45 yard Messi-esque run and can’t fathom how a 0-0 match can still be entertaining. 
      </p>
      <p>
        "But if parents only understood soccer better, THEN they would understand my coaching decisions and always support them!" Sadly, this isn’t the case.
      </p><!-- add an off topic comparison -->
      <p><span class="pulledquote-left" data-pullquote="&#34;But if parents only understood soccer better, THEN they would understand my coaching decisions and always support them!&#34;">
        If you don’t believe me, consider parents of American Football players. A well understood sport this country is undoubtedly fanatical over. Do you think the parents of pop warner football players are acting any different than soccer parents because they are <strong>well educated</strong> on the game?
      </p>
      <p>
        They aren’t. They’re just...well...parents. Something changes when your kid is involved. <u>Most all rational thinking goes out the window</u> when you see your first born not playing in the “right” position or your youngest daughter getting specific instruction you don't agree with.
      </p>
      <p>Parents want to see their kid’s team win and when they don’t <strong>the coach is always the first to blame.</strong></p>
      <br>
      <hr>
      <br>
      <h2><strong>The good news</strong></h2><br>
      <p>Parent don’t <em>actually</em> care about winning.</p>
      <p>If you surveyed your player’s parents at the beginning of the season and asked what the number one most important part of their child’s youth sports playing experience was, <strong>how many do you think would list ‘winning games’</strong> as their answer? Probably not very many. You’re more likely to get answers like skill development, sportsmanship, commitment, work ethic, fun, integrity, etc. 
      </p>
      <p>
        So why does all of this go out the window in the form of unacceptable sideline behavior, team jumping, and questioning of your coaching methodology. Oh and of course there are the endless emails, phone calls, and conversations about their kid, and sometimes even other kids on the team. 
      </p>
      <p>
        <strong>It’s not from a lack of understanding of the game. </strong>
      </p>
      <p>
        Parents naturally want the best for their kids, and for many parents this means getting their kids into a good college. American youth soccer is a HUGE investment of TIME and MONEY for parents and players.
      </p>
      <p>
        Parents fear if they don’t win the team won’t get into the best tournaments, and if they don’t get into the best tournaments then they can’t be seen by college coaches and alas their ROI is not realized.
      </p>
      <p>
        <span class="pulledquote" data-pullquote="&#34;Parents don’t care about winning they care about putting their kid in the best position to be successful in life.&#34;"></span>Parents don’t care about winning they care about putting their kid in the best position to be successful in life. In reality club soccer can greatly facilitate this in 2 ways-
        
        <ol>
          <li>A player can get a scholarship to a university that the family couldn’t otherwise afford.</li>
          <li>A player can get accepted to a university that would otherwise be difficult to get into without the added attention incoming collegiate athletes receive during the admission process.
          </li>
        </ol>
      </p>
      <p>
        That’s a lot of pressure to put on a club soccer coach and why sometimes you feel the brunt end of a frustrated, overbearing parent.
      </p>
      <p>
        <h5>Simply put:</h5> If your team went <u>0-15</u> and went to <u>0 major tournaments</u>, but every single player went on to play at their dream school and developed immensely as soccer players during the season, would parents care half as much about winning?
      </p>
      <p>Doubtful.</p>
      <p>
        Obviously, an extreme example, but the point is we’ve identified the underlying cause of why managing parent expectations can be painful and now we can point to a solution that helps you to do your job more freely. 
      </p>
      <br>
      <hr>
      <br>
      <h2><strong>You already know all this.</strong></h2><br>
      <p>
        These are all things you already know and experience every day first hand. But knowing all this still doesn’t free you from the feeling that it’s impossible to make everyone happy- Players, parents, AND coaches.
      </p>
      <strong><h5>Until now.</h5></strong><br>
      <p>
        <strong>Breakaway.io</strong> is our soccer specific online player profile software that helps you attract more college coaches to your players. We work hard so as a coach you can-
      </p>
        
        <ul>
        <li>
          - Get all of your players on college coach's radars no matter how many games they can actually watch in person.
        </li>
        <li>
          - Empower players and parents to connect with the right school (which is the real reason they care about “winning”).
        </li>
        </ul>
      </p>
      <p>
        We believe every deserving player has a collegiate program that is the perfect fit. To not realize this potential simply because your player had one bad game on the wrong weekend, or the college coach couldn’t make it to a game, or because your team wasn’t accepted to Surf Cup this particular year shouldn’t result in a missed opportunity to find a good home after the club level.
      </p>
      <br>
      <hr>
      <br>
      <h2><strong>Let's Make Everyone Happy</strong></h2><br>
        <p>With Breakaway.io all you need to do is have your players sign up, provide their content, and we take care of the rest. Once your players have signed up they can-</p>
        <ul class="indent_list">
          <li><%= image_tag 'tick.png', :class => "tick_town" %> Include video and highlight their performances</li>
          <li><%= image_tag 'tick.png', :class => "tick_town" %> Easily post a schedule for college coaches to view (ahead of time)</li> 
          <li><%= image_tag 'tick.png', :class => "tick_town" %> Include your comments as a coach for strengths and weaknesses of the player</li>
          <li><%= image_tag 'tick.png', :class => "tick_town" %> Show personal stats and accomplishments</li>
          <li><%= image_tag 'tick.png', :class => "tick_town" %> Track profile views</li>
          <li><%= image_tag 'tick.png', :class => "tick_town" %> A brand new way to demonstrate intangibles - Mental toughness, coachability, understanding of the game, etc.</li>
        </ul>
      <p>
        <strong>Breakaway.io is free to use </strong> leaving no risk at all to try it and you can cancel your account at any time. We also won’t ever place any advertisements on the site leaving the college coach to solely focus on viewing players. Currently, we are offering accounts on an invitation basis.
      </p>
      <p>
        Enter your email below to reserve a spot and request an invite. If you sign up now (while we’re still operating by invitation only) we’ll send you 5 quality tips a top coach in Northern California uses to manage parent expectations. He has been doing it for years and in doing so cuts his frustrations in half. 
      </p>
      <br>
      <!-- Begin MailChimp Signup Form -->
      <div class="six columns centered">
        <div class="invitation_box">
          <div class="row">
            <div class="twelve columns">
              <h3 id="invitation_title"><strong>Request an Invitation</strong></h3>
            </div>
          </div>  
          <div class="row">
            <div class="padding">
              <form action="http://54footy.us4.list-manage.com/subscribe/post?u=de747b628fbcf3df0952db4f2&amp;id=d1bef775c2" method="post">
              	<div class="car"><input type="email" name="EMAIL" class="email car_it" id="mce-EMAIL" placeholder="Enter Email Address For Invitation" required></div><br>
              	<div class="car3"><input class="success btn car3" type="submit" value="Get Early Invitation" name="subscribe" id="mc-embedded-subscribe"></div>
              </form>
            </div>  
          </div>
        <!--End mc_embed_signup-->
        </div>
        <div class="row">
          <p id="trust_print">We wont ever spam or sell your information.</p>
        </div>  
      </div>  
      <hr>
       <div class="row">
          <p>Know a coach that could use some peace from their player's parents?<br>
          They'll love you forever.<a href="mailto:?subject=They actually make a lot of good points&amp;body=Thought you might like this, seems pretty cool. http://www.54footy.com." title="Share by Email"> Email the link to this page</a></p>
          
       </div>  
    </div> 
  </div>
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p><em>Breakaway.io is a product of 54footy, built in California</em></p>
        </div>
      </div>
    </div> 
  </footer>
</div>

<script>
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 1500);
    return false;
});
</script>

<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0017/1897.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script>
